@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.main {
  width: 350px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  height: 60px;
  color: rgb(241, 241, 241);
  padding: 10px;
  /* border-radius: 20px 20px 0 0; */
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
}

.header {
  color: rgb(241, 241, 241);
  margin: 10px 0px 0px 10px;
  font-size: 25px;
  /* border-radius: 20px 20px 0 0; */
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.day {
  color: rgb(241, 241, 241);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.divider {
  width: 70%;
  height: 2px;
  background-color: rgb(241, 241, 241);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.temp {
  padding: 0px;
  color: rgb(241, 241, 241);
  font-family: "Raleway", sans-serif;
  margin-bottom: 0px;
  font-size: 69px;
  text-align: center;
  margin-top: 40px;
}

.humidity {
  padding: 12px;
  color: rgb(241, 241, 241);
  font-family: "Raleway", sans-serif;
  margin-bottom: 0px;
  font-size: 16px;
  text-align: center;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.sunrise-sunset {
  padding: 12px;
  color: rgb(241, 241, 241);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.description {
  color: rgb(241, 241, 241);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.button {
  width: 35px;
  height: 35px;
}
