@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

main {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  min-height: 100vh;
}

.App {
  background: url("./img/warm1.jpg");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
  height: 100vh;
}

.App.cold {
  background: url("./img/cool2.jpg");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
  height: 100vh;
}

.App.warm {
  background: url("./img/warm1.jpg");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
  height: 100vh;
}

.Wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.searchbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 75px 0px;
}

.searchbar {
  display: block;
  width: 78%;
  min-width: 350px;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 5px rgba(0, 0, 0, 15%);
  color: #313131;
  font-size: 18px;
}

.searchbar:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.search-btn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 32px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 15%);
  transition: ease-in-out 0.2s;
}

.search-btn:hover {
  background-color: rgba(0, 0, 0, 30%);
  color: #fff;
  transition: ease-in-out 0.2s;
}
